<div class="container-fluid">
    <form [formGroup]="formCategoria">

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre" [(ngModel)]="categoriaux.nombre"
                placeholder="Nombre de la Categoria">
        </div>
        <div class="form-group">
            <label for="nombre">Descripcion</label>
            <input type="text" class="form-control" formControlName="descripcion" [(ngModel)]="categoriaux.descripcion"
                placeholder="Descripcion de la Categoria">
        </div>

        <div class="col-md-10">
            <h5>Tipos</h5>
        </div>

        <div formArrayName="tipo" *ngFor="let tip of formCategoria.controls['tipo'].controls; let i = index">
            <div [formGroupName]="i">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" [attr.for]="'nombre' + i">Nombre</label>
                                    <div class="col-11">
                                        <input class="form-control" [attr.id]="'nombre' + i" type="text"
                                            formControlName="nombre" placeholder="Nombre del Tipo" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"
                                        [attr.for]="'descripcion' + i">Descripcion</label>
                                    <div class="col-11">
                                        <input class="form-control" [attr.id]="'descripcion' + i" type="text"
                                            formControlName="descripcion" placeholder="Descripcion del Tipo" />
                                    </div>
                                </div>
                                    <div   class="form-group">
                                   
                                        <label class=" input-group-text col-md-2 control-label"
                                        [attr.for]="'alumno' + i">Alumno</label>

                                             <select  formControlName="alumno" class="js-example-placeholder-single js-states form-control"  [attr.id]="'id' + i"  id="id" name="id"  required >
                                                 <option [attr.selected]="alumnoEscogido.id" [attr.value]="alumnoEscogido.id"></option>
                                                 <option  *ngFor="let alumno of alumno"  name="ids"  value="{{alumno.id}}">{{alumno.nombre}} {{alumno.apellido}}</option>   
                                               </select>                
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <button type="button" class="btn btn-danger pull-right"
                                    (click)="editar ? eliminarTipoBDD(i) : eliminarTipo(i)">Eliminar</button>
                            </div>
                        </div>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
        <p></p>
        <div class="col-md-10">
            <div class="form-group">
                <button class="btn btn-secondary" type="button" (click)="anadirTipo()">Añadir Tipo</button>
            </div>
        </div>

        <div class="btn-toolbar">
            <div class="btn-group mr-2" role="group">
                <button class="btn btn-primary" (click)="editar ? actualizarCategoria() : saveNewCategoria()">Agregar
                    Categoria</button>
            </div>
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-info" routerLink="/tipo-categoria">Regresar</button>
            </div>
        </div>
    </form>
</div>
