<div class="container-fluid">
    <form>
        <div class="form-group">
          <label for="nombre">Nombre del Profesor </label>
          <input type="text" class="form-control"  [(ngModel)]="profesor.nombre" name="nombre" placeholder="Nombre del Profesor">
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" [(ngModel)]="profesor.apellido"  name="apellido" placeholder="Apellido del Profesor">
        </div>
        <div class="form-group">
            <label for="cedula">N# Cedula</label>
            <input type="text" class="form-control" [(ngModel)]="profesor.cedula"  name="cedula" placeholder="Numero de Cedula">
        </div>
        <div class="form-group">
            <label for="fechanacimiento">Fecha de Nacimiento</label>
            <input type="text" class="form-control" [(ngModel)]="profesor.fechanacimiento"  name="fechanacimiento" placeholder="Numero de Cedula">
        </div>
        <div class="form-group">
            <label for="edad">Edad</label>
            <input type="text" class="form-control" [(ngModel)]="profesor.edad"  name="edad" placeholder="Numero de Cedula">
        </div>
        <div class="form-group">
            <label for="direccion">Direccion</label>
            <input type="text" class="form-control" [(ngModel)]="profesor.direccion"  name="direccion" placeholder="Direccion">
        </div>
        <div class="form-group">
            <label for="telefono">Telefono</label>
            <input type="text" class="form-control" [(ngModel)]="profesor.telefono"  name="telefono" placeholder="Telefono">
        </div>
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="profesor.titulo"  name="titulo" placeholder="Numero de Cedula">
        </div>
        <button  class="btn btn-primary" (click)="edit ? updateP() : saveNewP()">Agregar Profesor</button>
        <button type="button" class="btn btn-info" routerLink="/profesores">Regresar</button>
      </form>
</div>

