<div class="container-fluid">
    <form>
        <div class="form-group">
          <label for="nombre">Nombre dela Materia</label>
          <input type="text" class="form-control"  [(ngModel)]="materias.nombre" name="nombre" placeholder="Nombre de la materia">
        </div>
        <div class="form-group">
          <label for="horas">Horas</label>
          <input type="number" class="form-control" [(ngModel)]="materias.horas"  name="horas">
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text"  for="profesor"  >Profesores</label>
                </div>
                <select  width="200px" height="200px"  class="js-example-placeholder-single js-states form-control" id="profesores" name="profesores" required >
                  <option [attr.selected]="profesorEscogido.id" [attr.value]="profesorEscogido.id" ></option>
                  <option *ngFor="let profesor of profesor"  name="profesor" value="{{profesor.id}}">{{profesor.nombre}} {{profesor.apellido}}</option>   
                </select>
              </div>
        </div>
        <button  class="btn btn-primary" (click)="edit ? updateP() : saveNewP()">Agregar Materia</button>
        <button type="button" class="btn btn-info" routerLink="/materias">Regresar</button>
      </form>
</div>


